nav img {
  width: 30%;
  height: 20%;
}
.carousel-item img {
  width: 90%;
  margin: 0 5%;
  max-height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #808080;
  box-sizing: border-box;
}
.back h3 {
  text-align: left;
}
.back h1 {
  text-align: left;
  font-size: 500%;
}
.carousel-item button {
  margin-left: -57%;
}
#main {
  width: 60%;
  margin-left: 20%;
  border: solid #000000 3px;
}
.navbar {
  padding: 0.8rem;
}
.navbar-nav li {
  padding-right: 20px;
}
.nav-link {
  font-size: 1.1em !important;
}
.edit hr {
  border-top: 2px solid #b4b4b4;
  width: 34%;
  margin-top: 0.7rem;
  margin-bottom: 1rem;
}
.string a {
  font-size: 4rem;
  padding: 1%;
  margin: 0 5%;
  box-sizing: border-box;
}
.fa-facebook {
  color: #3b5998;
}
.fa-instagram {
  color: #517fa4;
}
.fa-google-plus-g {
  color: #dd4b39;
}
.fa-linkedin {
  color: #2a6291;
}
.fa-facebook:hover,
.fa-instagram:hover,
.fa-google-plus-g:hover,
.fa-linkedin:hover {
  color: #d5d5d5;
}
footer {
  background-color: rgb(102, 98, 98);
  color: #fff;
}
#pc {
  width: 70%;
  padding-top: 10%;
}
#active {
  background-color: silver;
}
